<p-dialog header="Long Content" [(visible)]="displayBasic" [style]="{width: '60vw', height:'500px'}" [modal]="true" [baseZIndex]="100000">
  <leave *ngIf="selectedType === 'leave'"></leave>
  <advance *ngIf="selectedType === 'advance'"></advance>
  <expense *ngIf="selectedType === 'expense'"></expense>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayBasic=false; closeTab.emit(false);" label="Yes" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayBasic=false; closeTab.emit(false);" label="No"></p-button>
  </ng-template>
</p-dialog>

